sup { font-size: 100% !important; }
/* Linked Styles */
body { padding:0 !important; margin:0 !important; display:block !important; min-width:100% !important; width:100% !important; background:#001736; -webkit-text-size-adjust:none }
a { color:#66c7ff; text-decoration:none }
p { padding:0 !important; margin:0 !important }
img { -ms-interpolation-mode: bicubic; /* Allow smoother rendering of resized image in Internet Explorer */ }
.mcnPreviewText { display: none !important; }


/* Mobile styles */
@media only screen and (max-device-width: 480px), only screen and (max-width: 480px) {
    .mobile-shell { width: 100% !important; min-width: 100% !important; }
    .bg { background-size: 100% auto !important; -webkit-background-size: 100% auto !important; }

    .text-header,
    .m-center { text-align: center !important; }

    .center { margin: 0 auto !important; }
    .container { padding: 20px 10px !important }

    .td { width: 100% !important; min-width: 100% !important; }

    .m-br-15 { height: 15px !important; }
    .p30-15 { padding: 30px 15px !important; }

    .m-td,
    .m-hide { display: none !important; width: 0 !important; height: 0 !important; font-size: 0 !important; line-height: 0 !important; min-height: 0 !important; }

    .m-block { display: block !important; }

    .fluid-img img { width: 100% !important; max-width: 100% !important; height: auto !important; }

    .column,
    .column-top,
    .column-empty,
    .column-empty2,
    .column-dir-top { float: left !important; width: 100% !important; display: block !important; }

    .column-empty { padding-bottom: 10px !important; }
    .column-empty2 { padding-bottom: 30px !important; }

    .content-spacing { width: 15px !important; }
}